=simple_form_for(FormFieldOption.new, :url => create_option_admin_form_form_field_path(form, form_field)) do |f|
  =f.input :value, :hint => t("admin.form_field.options.hints.value")
  =f.input :price, :hint => t("admin.form_field.options.hints.price")
  %input{:type => "hidden", :name => "return_path", :value => @return_path}
  =f.button :submit
